:root{
    --background-color: #f4f4f4;
    --primary-color: #44d62c;
    --text-color: #999;
    --font-weight-bold: 400;
    --light-color: #222;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-weight: 600;
}
.svg {
    height: 25px;
    width: auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--background-color);
}

/* iPads  */
@media only screen 
and (min-width : 768px)
and (max-width: 1024px) {
    .small {
        display: none;
    }
    .large {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-height: 50px;
    }
    #nav-options {
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
        flex-direction: row;
    }
    #nav-options li {
        margin: 10px;
    }
    #nav-options a {
        color: var(--text-color);
    }
    #hamburger-menu {
        cursor: pointer;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .section-large {
        height: 1036.8px;
    }
    .heading {
        text-align: center;
    }
    .heading h1 {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 0;
    }
    .heading h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #CYBER {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/a04e3f25d77365db4968d10fea66aa8e/cyber-weekend-early-access-2023-homepage-desktop2x.webp);
        background-position: center;
    }
    #exclusive {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #exclusive div {
        background-color: orange;
        height: auto;
        width: auto;
        padding: 10px;
    }
    #exclusive div p {
        margin: 0;
        padding: 0;
    }
    #exclusive div h6 {
        margin: 0;
        padding: 0;
    }
    .links {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .green-arrowhead {
        color: var(--primary-color);
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 10px;
        margin-bottom: 10px;
        height: auto;
    }
    .card {
        height: 580px;
    }
    #FUJIN {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/65d476e8aff78d448b6b3233350f1bb0/fujin-pro-b-950x580-desktop.webp);
        background-position: center;

    }
    #BLADE18 {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/2fb5601db7a84213129e2f26d31f050f/mercury-blade16-blade18-b-950x580-desktop.webp);
        background-position: center;

    }
    #BLADE14 {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/ab20c0e7b6887e4438c7bb329c59b288/razer-blade-14-2023-b-950x580-desktop.webp);
        background-position: center;

    }
    #HYPERPOLLING {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/bbffede42365ea3ed65d0b13ab080c48/razer-hyperpolling-technology-b-950x580-desktop.webp);
        background-position: center;

    }
    #AHSOKA {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/65d476e8aff78d448b6b3233350f1bb0/axon-ashoka-950x580-desktop.webp);
        background-position: center;
    }
    #GIFT-CARD {
        background-image: url(https://assets2.razerzone.com/images/pnx.assets/65d476e8aff78d448b6b3233350f1bb0/ebonus-card-b-950x580-desktop.webp);
        background-position: center;

    }
    .footer-large {
        font-size: 0.75rem;
        color: var(--text-color);
        background-color: black;
        padding: 0;
    }
    .footer-mobile {
        display: none;
    }
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        transform: translateX(-25px);
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 60%;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .footer-list {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .footer-list-heading {
        color: white;
    }
    .footer-list li {
        margin: 10px;
    }
    .footer-list a {
        color: var(--text-color);
    }
    #footer-text {
        color: var(--text-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    #copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        padding: 0;
    }
    #copyright ul {
        margin: 10px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #copyright ul li {
        margin: 0 0.1rem;
    }
    #location {
        margin: 0 20px;
    }
    #location ul li {
        margin: 0 0.1rem;
    }
    #footer-text ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #green-text {
        color: var(--primary-color);
    }
}

